body{
    width: 100%;
    background-color: gray;
}
.main{
    width: 100px;
    padding: 10px;
    margin: 10px auto;
    background-color: brown;
    border: solid;
    border-radius: 10px;
    border-width: 5px;
}
