.container{
    background-color: rgb(112, 233, 204);
    display: grid;
    border-style: solid;
    padding: 10px;
    grid-template-areas: "h h h h h h" "s s m m m m" "f f f f f f";
}
.container div{
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    color: white;
}

.container .header{
    line-height: 100px;
    height: 100px;
    grid-area: h;
    background-color: orangered;
}
.container .main{
    line-height: 200px;
    height: 200px;
    grid-area: m;
    background-color: dodgerblue;
}
.container .sidebar{
    line-height: 200px;
    grid-area: s;
    background-color: darkolivegreen;
}
.container .footer{
    line-height: auto;
    height: auto;
    grid-area: f;
    background-color: gray;
}